{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div>
	<img src ="/static/top-banner.jpg" class = "carImage">
</div>

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}  
    		<ul>
    		{% for message in messages %}
    			<li> <strong> {{ message }} </strong> </li>
    		{% endfor %}
    		</ul>
    	{% endif %}
    {% endwith %}
</div>

<div class="btnContainer">
		<a href="{{url_for('newBrand')}}">
			<button class="btn">Add Brand</button>
		</a>
</div>

<div class = "menu">
	<div class="brandMenu">
		<h2>Brand</h2>
		{% for brand in brands %}
			<div class = "link">
				<a href = "{{url_for('showModel', brand_id = brand.id)}}">
					<h3>{{brand.name}}</h3>
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="modelMenu">
		<h2>Latest Added Model</h2>
		{% for model in models %}
			<div class = "link">
				<a href = "{{url_for('sModel', model_id = model.id)}}">
					<h3>{{model.name}}</h3>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
