{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row">
		<div>
			<h1>{{ brand.name }}
			<figure class="creator">
				<img src="{{ creator.picture }}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
			</h1>
		</div>
	</div>


<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}  
    		<ul>
    		{% for message in messages %}
    			<li> <strong> {{ message }} </strong> </li>
    		{% endfor %}
    		</ul>
    	{% endif %}
    {% endwith %}
</div>

<div class="btnContainer">
		<a href="{{url_for('editBrand', brand_id = brand.id )}}">
			<button class="btn" id="new-menu-item">Edit Brand</button>
		</a>
		<a href="{{url_for('newModel', brand_id = brand.id )}}">
			<button class="btn" id="new-menu-item">Add Model</button>
		</a>
		<a href="{{url_for('deleteBrand', brand_id = brand.id )}}">
			<button class="btn" id="delete-restaurant">Delete Brand</button>
		</a>
</div>

{% if items !=[] %}	
	{% for i in items %}
		<div class="menu-item">
			<h3>{{i.name}}</h3>
			<p>{{i.description}}</p>
			<p class="menu-price">$ {{i.price}}</p>
			<a href='{{url_for('editModel', brand_id = brand.id, model_id=i.id ) }}'>Edit</a> | 
			<a href='{{url_for('deleteModel', brand_id = brand.id, model_id=i.id ) }}'>Delete</a>
		</div>
	{% endfor %}
{% endif %}
{% endblock %}
